:root {
  --primary: #3f995e;
  --bg: rgb(213, 236, 229);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--bg);
  width: 100%;
  /* min-height: 200px; */
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 7px 7%;
  background-color: rgba(224, 252, 233, 0.8);
  border-bottom: 1.5px solid #7fb190;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  margin-right: -40px;
}
.navbar a img {
  padding-left: -30px;
}
.navbar .navbar-nav a {
  color: rgb(0, 0, 0);
  display: inline-block;
  font-size: 1.3;
  margin: 0rem;
  margin-right: 5px;
  padding: 5px;
}
.navbar .navbar-nav a:hover {
  color: var(--primary);
}

.navbar .navbar-nav a::after {
  content: "";
  display: block;
  padding-bottom: 0.1rem;
  border-bottom: 0.1rem solid var(--primary);
  transform: scaleX(0);
  transition: 0.2s linear;
}

.navbar .navbar-nav a:hover::after {
  transform: scaleX(0.5);
}

.navbar-button1 a {
  color: rgb(0, 0, 0);
  padding: 5px 12px;
  border-radius: 10px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border: 1px solid #48ad8b;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}
.navbar .navbar-button1 a:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(37, 163, 83);
}
.navbar .navbar-button1 a:hover::after {
  transform: scaleX(0.5);
  transition: 0.2s linear;
}
.navbar .navbar-button2 a {
  color: black;
  /* margin-right: -50px; */
  /* margin-left: -90px; */
  font-size: 40px;
  /* margin: 0 0.5rem; */
}

.navbar .navbar-button2 a:hover {
  color: var(--primary);
}

#hamburger-menu {
  display: none;
}

/* Media Queries */
/* Laptop */
@media (max-width: 1366px) {
  html {
    font-size: 100%;
  }
}

/* Tablet */
@media (max-width: 1024px) {
  html {
    font-size: 70%;
  }

  #hamburger-menu {
    display: inline-block;
  }

  .navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: #34d780;
    width: 20rem;
    height: 100vh;
    transition: 0.3s;
  }

  .navbar .navbar-nav.active {
    right: 0;
  }

  .navbar .navbar-nav a {
    color: rgb(0, 0, 0);
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 2rem;
  }

  .navbar .navbar-nav a::after {
    transform-origin: 0 0;
  }

  .navbar .navbar-nav a:hover::after {
    transform: scaleX(0.2);
  }
  .about p {
    font-size: 1rem;
  }
  .hero .content h1 {
    /* display: inline-block; */
    /* margin-top: 10px; */
    display: inline;
  }
  .about p {
    font-size: 13px;
  }
  .footer {
    display: inline-block;
  }
}

/* Mobile Phone */
@media (max-width: 450px) {
  html {
    font-size: 55%;
  }
  .hero .content h1 .span {
    font-size: 50%;
  }
}

/* hero section */
.hero {
  height: 100vh;
  display: flex;
  align-items: center;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}
.hero img {
  background-size: cover;
}
.hero::before {
  content: "";
  background-image: url("../../assets/hero.jpg");
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1; /* Menempatkan blur di bawah teks */
  opacity: 0.3; /* Opsional: atur transparansi */
}
.hero::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100px;
  bottom: 0;
  left: 0;
  background: linear-gradient(
    to top,
    rgba(255, 255, 255, 0.731),
    rgba(255, 255, 255, 0)
  );
  pointer-events: none;
}
.hero .content {
  padding: 1.9rem 7%;
  max-width: 100rem;
}

.hero .content h1 {
  color: rgb(0, 0, 0);
  text-shadow: 1px 1px 3px rgb(255, 255, 255);
  line-height: 1.3rem;
  font-size: 30px;
  /* margin: 2px 30px; */
  padding-right: 145px;
}

.hero .content h1 span {
  color: rgb(64, 255, 0);
  text-decoration: solid;
  text-shadow: 1px 1px 3px rgb(0, 0, 0);
  margin-top: 1rem;
}

.hero .content p {
  font-size: 1.5rem;
  margin-top: 2rem;
  line-height: 1.4rem;
  font-weight: 300;
  margin-bottom: 0.5rem;
  text-shadow: 1px 1px 3px rgb(148, 216, 196);
}

.hero .content .cta {
  margin-top: 1rem;
  display: inline-block;
  padding: 0.5rem;
  background: linear-gradient(
    0deg,
    rgb(188, 250, 219) 1%,
    rgba(224, 252, 233, 0.8) 25%
  );
  font-size: 1.4rem;
  color: rgb(0, 0, 0);
  border-radius: 10px;
  box-shadow: 2px 1px 1px rgb(118, 243, 174);
}

.about {
  padding: 50px;
  position: relative;
  background: linear-gradient(
    to top,
    rgba(185, 236, 211, 0.107),
    rgba(255, 255, 255, 0.8)
  );
  backdrop-filter: blur(10px); /* memberikan efek blur */
  /* display: inline-block; */
  /* padding-top: 50px; Sesuaikan dengan tinggi navbar */
  /* margin-top: 20px; Sesuaikan dengan padding-top */
  height: 100vh;
}
.about h2 {
  color: black;
  text-align: center;
  font-size: 2rem;
  margin-bottom: 4rem;
  margin-top: 60px;
}
.about span {
  color: #24a15f;
}
.about a img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  width: 50%;
}
.about p {
  /* font-size: 20px; */
  text-align: justify;
  letter-spacing: 1px;
  margin-top: 10px;
}
