.orderDetail-container {
  margin-top: 100px;
}
.order-list th {
  background-color: green;
  color: #fbf9f9;
}
@media (max-width: 390px) {
  .orderDetail-container {
    margin-top: 90px;
  }
  .order-list table {
    margin-left: 0px;
    gap: 2px;
  }
  .order-list th {
    font-size: 9px;
    background-color: green;
  }
  .order-list td {
    font-size: 8px;
  }
}
