/* Register.css */
.register-container-cms {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(135deg, #11cb81, #65f5ca, #15570f, #13b268);
  background-size: 400% 400%;
  animation: gradientBG 15s ease infinite;
  padding: 20px;
}

@keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.register-container-cms .card {
  background: rgba(255, 255, 255, 0.469);
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
  max-width: 400px;
  width: 100%;
  text-align: center;
  backdrop-filter: blur(10px);
  margin-top: 0px;
}

.register-container-cms h2 {
  margin-bottom: 2rem;
  padding-top: -6px;
  margin-top: 1rem;
}

.register-container-cms .form-group {
  margin-bottom: 5px;
  text-align: left;
}

.register-container-cms label {
  /* padding-top: 5px; */
  display: block;
  margin-bottom: 0.5rem;
  color: #555;
}

.register-container-cms input {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 1rem;
  transition: border-color 0.3s ease;
  margin-top: -5px;
}

input:focus {
  border-color: #11cb7a;
  outline: none;
}

/* Tombol Register */
/* .register-button1 {
  margin-left: 20rem;
  width: 100%;
  padding: 0.75rem;
  background-color: #11cb6e;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
} */
.register-container-cms .register-button1 {
  display: block; /* Pastikan tombol mengambil satu baris penuh */
  margin: 0 auto; /* Membuat tombol berada di tengah */
  width: 100%; /* Bisa disesuaikan untuk proporsi lebih baik */
  padding: 0.75rem;
  background-color: #11cb6e;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-align: center;
}
.register-button:hover {
  background-color: #0b765d;
}

/* Pusatkan Login Link */
.login-link {
  margin-top: 1rem;
  text-align: center;
  display: block;
  flex-direction: column;
  align-items: center;
  color: #555;
}

/* Tombol Login */
.login-button-link {
  background: none;
  border: none;
  color: #6a11cb;
  cursor: pointer;
  font-size: 1rem;
  transition: color 0.3s ease;
  text-align: center;
  margin-top: 0.5rem;
  display: inline-block;
}

.login-button-link:hover {
  color: #000000;
}

/* Responsive Design */
@media (max-width: 768px) {
  .register-card {
    padding: 1.5rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  input {
    padding: 0.5rem;
  }

  .register-button {
    padding: 0.5rem;
  }
}
