/* Produk.css */

.App {
  font-family: Arial, sans-serif;
  max-width: 1200px;
  margin: auto;
  padding: 20px;
}

.app-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #00aa5b;
  padding: 15px;
  color: white;
  border-radius: 5px;
  margin-top: 60px;
}
.search-bar {
  display: flex;
  align-items: center;
}

.search-input {
  padding: 8px;
  width: 250px;
  border-radius: 5px;
  border: 1px solid #ddd;
}

.search-button {
  background-color: #005b41;
  color: white;
  border: none;
  padding: 8px 15px;
  margin-left: 5px;
  cursor: pointer;
  border-radius: 5px;
}

.categories {
  display: flex;
  gap: 5px;
  margin: 10px 10px 40px;
  padding: 10px 10px;
  margin-left: 100px;
}

.category-button {
  margin-bottom: -30px;
  padding: 10px 15px;
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  cursor: pointer;
  border-radius: 5px;
  margin-left: 20px;
}

.category-button.active {
  background-color: #00aa5b;
  color: white;
}
.tab-buttons {
  margin-left: -20px;
}
.product-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 15px;
  margin-top: 10px;
}

.product-card {
  background: white;
  display: grid;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 15px;
  text-align: center;
  transition: transform 0.2s;
  max-width: 200px;
  max-height: 400px;
}

.product-card:hover {
  transform: scale(1.05);
}

.image-container {
  position: relative;
}

.product-image {
  width: 100%;
  max-height: 130px;
  border-radius: 5px;
}

.presale-badge {
  position: absolute;
  top: 10px;
  left: 10px;
  background: #ff5722;
  color: white;
  padding: 5px 10px;
  font-size: 12px;
  border-radius: 5px;
}

.product-info {
  margin-top: 10px;
}

.product-name {
  font-size: 16px;
  font-weight: bold;
}

.store-name {
  font-size: 14px;
  color: #555;
  margin: 5px 0;
}

.rating {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffa000;
  font-size: 14px;
}

.star-icon {
  margin-right: 5px;
}

.in-stock {
  color: green;
  font-weight: bold;
}

.out-of-stock {
  color: red;
  font-weight: bold;
}
/* Produk.css */
.product-section {
  margin-top: 30px;
}

.section-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #00aa5b;
}

.no-products {
  text-align: center;
  font-size: 16px;
  color: #777;
}
/* samsung s20 */
@media (max-width: 360px) {
  .App {
    grid-template-columns: repeat(4, 1fr); /* 4 kolom di desktop */
    /* height: 800px; */
  }
  .app-header {
    display: grid;
    margin-left: -15px;
    justify-content: space-between;
    align-items: left;
    background-color: #00aa5b;
    width: 350px;
    padding: 10px;
    color: white;
    border-radius: 5px;
    margin-top: 60px;
  }
  .app-header h1 {
    font-size: 15px;
  }
  .search-bar {
    width: 10px;
    margin-right: 100px;
  }
  .categories {
    gap: 5px;
    padding: 1px 1px;
    margin-left: -15px;
    display: flex;
  }
  .category-button {
    margin: 1px;
    padding: 2px 2px;
    width: 70px;
    height: 50px;
    font-size: 11px;
  }
  .tab-buttons {
    margin-top: -30px;
    margin-left: -15px;
    gap: 10px;
  }
  /* .product-section {
    display: flex;
  } */
  .product-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    gap: 12px;
    margin-top: 10px;
  }

  .product-card {
    background: white;
    display: grid;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 15px;
    text-align: center;
    transition: transform 0.2s;
    max-width: 200px;
    max-height: 300px;
  }
}
