.modal-overlay {
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  position: fixed;
}

.modal-container {
  background-color: #f9f9f9;
  width: 50%;
  height: 80%;
  border: none;
  border-radius: 5px;
  padding: 20px;
  overflow-y: auto;
  margin-bottom: 40px;
}

/* Container Utama */
.add-product-container {
  max-width: 600px;
  height: 185vh;
  margin-top: 80px;
  margin-left: auto;
  margin-right: auto;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  padding: 30px 40px;
}

/* Judul Form */
.form-title {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
  /* margin-bottom: 30px; */
}

/* Form */
.add-product-form {
  display: flex;
  flex-direction: column;
}

/* Form Group */
.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  font-size: 14px;
  margin-bottom: 8px;
  color: #555;
}

/* Input, Select, Textarea */
.add-product-form input[type="text"],
.add-product-form input[type="number"],
.add-product-form input[type="date"],
.add-product-form input[type="file"],
.add-product-form select,
.add-product-form textarea {
  width: 100%;
  padding: 10px 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  color: #333;
  background-color: #fff;
  transition: border 0.3s;
}

.add-product-form input:focus,
.add-product-form select:focus,
.add-product-form textarea:focus {
  border-color: #1dbf73;
  outline: none;
}

.add-product-form textarea {
  resize: vertical;
  min-height: 100px;
}

/* Select Custom (untuk panah) */
.select-form {
  appearance: none;
  background-image: url('data:image/svg+xml;charset=US-ASCII,<svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 10 10"><polygon points="0,0 10,0 5,5" fill="%23999"/></svg>');
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 10px;
}

/* Error Text */
.error-text {
  color: #e74c3c;
  font-size: 12px;
  margin-top: 5px;
}

/* Tombol Submit */
.tambah {
  margin-left: -120px;
}
.submit-btn1 {
  display: block;
  width: 70%;
  padding: 12px;
  background-color: #1dbf73;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  text-align: center;
  align-items: center;
  margin: 20px;
}

.submit-btn1:hover {
  background-color: #17a15b;
}
.submit-btn1:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
@media (max-width: 360px) {
  .tambah {
    margin-left: -180px;
  }
}
@media (max-width: 800px) {
  .modal-container {
    margin-top: 50px;
  }
  .add-product-container {
    height: 90vh;
  }
}
