/* ManageUsers.css */

.manage-table {
  padding: 20px;
  font-family: Arial, sans-serif;
  margin-left: 70px;
  /* border: solid rebeccapurple; */
  width: 100%;
  max-height: 100vh;
  overflow-y: auto;
}

.manage-table h1 {
  text-align: center;
  margin-bottom: 30px;
}

.data-table {
  width: 70%;
  border-collapse: collapse;
  background-color: #ffffff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-left: 150px;
}

.data-table th,
.data-table td {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
}

.data-table th {
  background-color: #00c97c;
  color: white;
  text-align: center;
}

.data-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

/* Media Queries */
/* Laptop */
@media (max-width: 1366px) {
  html {
    font-size: 100%;
  }
}

/* Tablet */
@media (max-width: 1024px) {
  html {
    font-size: 80%;
  }
  .manage-table {
    margin-left: 0px;
  }
}

/* Mobile Phone */
@media (max-width: 428px) {
  .html {
    font-size: 30%;
  }
  .manage-table h1 {
    margin-left: 170px;
  }
  .manage-table {
    margin-left: -60px;
  }
  .data-table {
    font-size: 10px;
    display: inline-table;
  }
}
