/* .container {
  display: flex;
  height: 100vh;
  background-image: url("bgadmin.jpg");
  width: 90%;
  overflow: hidden;
} */
.kelola-produk-container {
  width: 90%;
  margin: 30px 10px;
  padding: 20px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.header h2 {
  margin-left: -800px;
  margin-top: 30px;
}
.add-product-btn {
  background-color: #10ac78;
  color: white;
  padding: 10px 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  gap: 5px;
  font-size: 14px;
  margin: 20px 50px;
}

.add-product-btn:hover {
  background-color: #0e9b75;
}

.produk-table {
  width: 90%;
  border-collapse: collapse;
  background: white;
  margin-left: 50px;
}

.produk-table th,
.produk-table td {
  padding: 12px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

.produk-table th {
  background-color: #5dffa3;
}

.status {
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: bold;
}

.status.reguler {
  background-color: #d1fae5;
  color: #047857;
}

.status.presale {
  background-color: #d9ff03;
  color: #3b4419;
  margin-left: 0;
}

.detail-btn {
  background-color: #20ba22;
  color: white;
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 14px;
}

.detail-btn:hover {
  background-color: #2563eb;
}
