/* body {
  font-family: Arial, sans-serif;
 background-color: #f4f4f9;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0; 
} */

.cart {
  margin-top: 80px;
  margin-bottom: 30px;
}
.cart h1 {
  text-align: center;
  margin-top: 120px;
}
.cart-table {
  margin-top: 40px;
  width: 100%;
  border-collapse: collapse;
  background-color: white;
  width: auto;
  align-items: center;
  display: inline-table;
  margin-left: 300px;
}

.cart-table th,
.cart-table td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: center;
}

.cart-table th {
  background-color: #f1f1f1;
  font-weight: bold;
}

.cart-table td input[type="checkbox"] {
  transform: scale(1.2);
}

.cart-table .btn-order,
.cart-table .btn-delete {
  padding: 5px 10px;
  font-size: 14px;
  margin: 0 5px;
  cursor: pointer;
  border-radius: 4px;
  border: none;
}

.btn-order {
  background-color: #4caf50;
  color: #fff;
}

.btn-delete {
  background-color: #f44336;
  color: #fff;
}

.cart-footer {
  margin-top: 20px;
  text-align: right;
}

.btn-submit {
  background-color: #4caf50;
  color: #fff;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 550px;
}

.btn-submit:hover {
  background-color: #45a049;
}
