/* Sidebar */
.sidebar {
  width: 260px;
  background-color: #0e371d;
  color: white;
}
.toggle-button {
  background-color: #0e371d;
  width: 100px;
  color: white;
  margin-top: 15px;
}
.sidebar-header {
  padding: 30px;
  border-bottom: 1px solid #2d5a3c;
  display: flex;
  align-items: center;
  gap: 8px;
}

.logo-container {
  background-color: #22c55e;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-text {
  font-size: 1.25rem;
  font-weight: bold;
}

.sidebar-nav {
  padding: 30px 20px;
}

.nav-button {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 20px;
  color: #d1d5db;
  background: none;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-bottom: 4px;
  text-align: left;
  margin-top: 20px;
}

.nav-button:hover {
  background-color: #000000;
}
.sidebar.closed {
  width: 70px;
}

.nav-button {
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 10px;
  margin-top: 25px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.3s;
}

.nav-button.active {
  background-color: #00a359; /* Warna background untuk tombol aktif */
}

.nav-button span {
  margin-left: 10px;
  display: inline-block;
}

.sidebar.closed .nav-button span {
  display: none; /* Sembunyikan teks jika sidebar ditutup */
}

.icon-active {
  color: #0f5132; /* Warna untuk ikon aktif */
}

.icon-inactive {
  color: #6c757d; /* Warna untuk ikon tidak aktif */
}
