:root {
  --primary: #00801c;
  --bg: rgb(213, 236, 229);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--bg);
  /* min-height: 200px; */
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 7px 7%;
  background-color: rgba(224, 252, 233, 0.8);
  border-bottom: 1.5px solid #7fb190;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  margin-right: -20px;
}
.navbar a img {
  padding-left: -30px;
}
.navbar .navbar-nav a {
  color: rgb(0, 0, 0);
  display: inline-block;
  font-size: 1.3;
  margin: 0rem;
  margin-right: 5px;
  padding: 5px;
}
.navbar .navbar-nav a:hover {
  color: var(--primary);
}

.navbar .navbar-nav a::after {
  content: "";
  display: block;
  padding-bottom: 0.1rem;
  border-bottom: 0.1rem solid var(--primary);
  transform: scaleX(0);
  transition: 0.2s linear;
}

.navbar .navbar-nav a:hover::after {
  transform: scaleX(0.5);
}

.navbar-button1 a {
  color: rgb(0, 0, 0);
  padding: 5px 12px;
  border-radius: 10px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 4px 4px 3px 5px;
  cursor: pointer;
  border: 1px solid #48ad8b;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}
.navbar .navbar-button1 a:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(37, 163, 83);
}
.navbar .navbar-button1 a:hover::after {
  transform: scaleX(0.5);
  transition: 0.2s linear;
}
.navbar .navbar-button2 a {
  color: black;
  /* margin-right: -50px; */
  /* margin-left: -90px; */
  font-size: 40px;
  /* margin: 0 0.5rem; */
}

.navbar .navbar-button2 a:hover {
  color: var(--primary);
}

#hamburger-menu {
  display: none;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

.shopping-cart-button {
  height: 32px;
}
/* Media Queries */
/* Laptop */
@media (max-width: 1366px) {
  html {
    font-size: 100%;
  }
}

/* Responsive Styles */
@media (max-width: 768px) {
  #hamburger-menu {
    display: block; /* Tampilkan hamburger menu di layar kecil */
  }

  .navbar-nav {
    display: none; /* Sembunyikan navbar di layar kecil */
    flex-direction: column;
    position: absolute;
    top: 70px; /* Sesuaikan dengan tinggi navbar */
    left: 0;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    padding: 1rem 0;
  }

  .navbar-nav.active {
    display: flex; /* Tampilkan navbar saat aktif */
  }

  .navbar-button1 {
    gap: 0.5rem;
  }
}
@media (max-width: 360px) {
  .logo-container {
    margin-left: -32px;
  }
  .navbar-button1 {
    padding: 1px 2px;
    margin: 1px -20px;
    display: flex;
    gap: 0.1px;
  }
  .navbar-nav {
    background-color: #93fba9;
    font-size: 20px;
    height: 150vh;
    width: 180px;
    margin-top: 3px;
    margin-left: 180px;
    padding: 15px;
  }
  #hamburger-menu {
    display: inline-block; /* Tampilkan hamburger menu di layar kecil */
    color: rgb(0, 0, 0);
    padding: 5px 12px;
    border-radius: 10px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 4px 3px 5px;
    cursor: pointer;
    border: 1px solid #48ad8b;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
  }
}
