/* Login.css */
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(135deg, #11cb81, #65f5ca, #15570f, #13b268);
  background-size: 400% 400%;
  animation: gradientBG 15s ease infinite;
  padding: 20px;
}

@keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.login-card {
  margin-left: -20rem;
  background: rgba(255, 255, 255, 0.469);
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
  max-width: 400px;
  width: 100%;
  text-align: center;
  backdrop-filter: blur(10px);
}

.login-card h2 {
  margin-bottom: 3rem;
  padding-top: -6px;
  margin-top: 0px;
}

.form-group {
  margin-bottom: 2rem;
  text-align: left;
}

label {
  display: block;
  margin-bottom: 0.5rem;
  color: #555;
}

input {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 1rem;
  transition: border-color 0.3s ease;
}

input:focus {
  border-color: #11cb7a;
  outline: none;
}

.login-button {
  width: 100%;
  padding: 0.75rem;
  background-color: #11cb6e;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-button:hover {
  background-color: #0b765d;
}

.register-link {
  margin-top: 1rem;
  color: #555;
}

.register-button-link {
  background: none;
  border: none;
  color: #6a11cb;
  cursor: pointer;
  font-size: 1rem;
  transition: color 0.3s ease;
}

.register-button-link:hover {
  color: #000000;
}

/* Responsive Design */
@media (max-width: 768px) {
  .login-card {
    padding: 1.5rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  input {
    padding: 0.5rem;
  }

  .login-button {
    padding: 0.5rem;
  }
}
/* samsung galaxy s20 */
@media (max-width: 360px) {
  .login-card {
    margin-left: -300px;
  }
}
