/* Container */
.table-container {
  padding: 20px;
}

/* Header tabel */
.product-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 90px;
}

.product-table thead th {
  background-color: #f7f7f7;
  color: rgb(0, 0, 0);
  padding: 10px;
  text-align: center;
  border: 1px solid #ddd;
}

/* Baris tabel */
.product-table tbody td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: center;
}

.product-table tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

.product-table tbody tr:hover {
  background-color: #f1f1f1;
}

/* Gambar */
.product-image {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

/* Form Input */
.input-form {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.input-form input {
  padding: 8px;
  font-size: 14px;
  border: 1px solid #ddd;
  border-radius: 4px;
  flex: 1;
}

.input-form .btn-add {
  background-color: #28a745;
  color: white;
  padding: 8px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.input-form .btn-add:hover {
  background-color: #218838;
}

/* Tombol */
.btn-update,
.btn-delete {
  padding: 8px 12px;
  font-size: 14px;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn-update {
  background-color: rgb(8, 153, 8);
  margin-right: 5px;
}

.btn-update:hover {
  background-color: #000000;
}

.btn-delete {
  background-color: #dc3545;
}

.btn-delete:hover {
  background-color: #000000;
}

/* Pesan kosong */
.no-data {
  text-align: center;
  padding: 20px;
  font-size: 16px;
  color: #666;
}

a{
  text-decoration: none;
  color: white;
}
