.app {
  text-align: center;
  font-family: Arial, sans-serif;
}

h1 {
  color: #333;
  margin-top: 100px;
}

/* section {
  margin: 20px auto;
  width: 90%;
} */

table {
  width: 95%;
  border-collapse: collapse;
  margin-bottom: 140px;
  background-color: white;
  margin-left: 30px;
}

th,
td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
}

th {
  background-color: #00ec8e;
}

.presale {
  color: #ff9800;
  font-weight: bold;
  border: none;
}

.available {
  color: #4caf50;
  font-weight: bold;
}

.completed {
  color: #4caf50;
}

.pending {
  color: #ff5722;
}

tr:hover {
  background-color: #f1f1f1;
}

.update-button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 5px 10px;
  margin-right: 5px;
  cursor: pointer;
  border-radius: 4px;
}

.delete-button {
  background-color: #ff5722;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 4px;
}

.update-button:hover {
  background-color: #45a049;
}

.delete-button:hover {
  background-color: #e64a19;
}
