/* DELETE */
.delete-button{
    padding: 8px 15px;
    font-size: 14px;
    color: #fff;
    background-color: #ff5722;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    margin: 2px;
}

.delete-button:hover{
    background-color: #e64a19;
}

/* UPDATE */
.detail-button{
    padding: 8px 15px;
  font-size: 14px;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  margin: 2px;
}

.detail-button:hover{
    background-color: #0056b3;
}

/* FAVORITE */
.favorite-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 24px;
    color: gray; /* Default color */
    transition: color 0.3s ease;
}

.favorite-button.favorited {
    color: red; /* Change to red when favorited */
}

.favorite-button:hover {
    opacity: 0.8;
}

/* UPDATE */
.update-button{
    padding: 8px 15px;
    font-size: 14px;
    color: #fff;
    background-color: #4caf50;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    margin: 2px;
}

.update-button:hover{
    background-color: #45a049;
}

/* CONTACT */
.contact-button{
    padding: 8px 15px;
    font-size: 14px;
    color: #fff;
    background-color: #4caf50;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    margin: 2px;
}

.contact-button:hover{
    background-color: #45a049;
}

/* ORDER */
.order-button{
    display: inline-block;
    text-decoration: none;
    background-color: #0fca63;
    color: white;
    padding: 10px 20px;
    border-radius: 4px;
    font-size: 16px;
    margin: 10px;
    transition: background-color 0.3s;
    }

.order-button:hover{
    background-color: #000000;
}

